<div class="row">
  <table id="board">
    <%= create_board()%>
  </table>
</div>

<div style="text-align:center;">
  <%= link_to "Restart", root_path %>
  <br/>
  <br/>

  <div id="start">Start: </div>
  <div id="end">End: </div>
  <div id="path">Path: </div>
</div>
