// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

#board {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.white_space, .black_space {
  width:50px;
  height:50px;
}

.white_space {
  background-color: #FFFFFF;
}

.black_space {
  background-color: #000000;
}

.start_space {
  background-color: #008000;
}

.end_space {
  background-color: #FF0000;
}

.path_space {
  background-color: #0000FF;
}
